.banner-homepage {
    position: relative;
    top: -53px;

    .carousel-indicators {
        left: inherit;
        margin-left: 0;
        margin-right: 3rem;


        li {
            border: 1px solid transparent;
            width: 12px;
            height: 12px;
            border-radius: 25px;
        }

        .active {
            background-color: $primary;
        }
    }

    .carousel-inner {
        height: 560px;
        position: relative;

        .carousel-item {

            img {
                max-width: 1440px;
                display: block;


            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(18, 18, 18, 1) 100%);
                z-index: 1;
            }
        }
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 100%;
        max-width: 45px;
    }
}